.App {
  height: 100vh;
  width: 99vw;
  color: #f9f6f2;
  padding: 2vmax;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 50vmax;
  min-width: 70vmax;
  border: 0.3vmin solid #f9f6f2;
  border-bottom: 4px solid #151010;
  border-right: 4px solid #151010;
  box-shadow: 0.8vmin 0.8vmin 0px 0px #f9f6f2;
}

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.item {
  border: 1px solid #f9f6f2;
  margin: 1vw;
  min-height: 40vmax;
  min-width: 45vmax;
}
